.listItemImage{
    width: 95px;
   
}
.listItemImage>img{
    width:90px;
    height:120px;
    border-radius: 25px;
}
.listItemInfo{
    width: 380px;
    padding:5px;
    text-overflow: ellipsis;
    background:white;
    border-radius: 25px;
}


.listItemInfo>*{
    width: inherit;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-left:4px;
}


.listItemCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:orange;
    width:100%;
    height:auto;
    padding: 5px;
    
    
    
}

.listItemCard>*{
    height:inherit;
    
}
.listItemDescription{
  
    background:gray;
    border-radius: 25px;
    padding:8px;
    width:360px;
    height:auto;
    -webkit-line-clamp: 4 !important;
    
}