.wishlistWrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
}
.wishlist{
    list-style-type: none;
    float: left;
    
    width:600px;
    height:800px;
    overflow-y:auto;
    overflow-x: hidden;
    padding-top:5px;
    border-radius: inherit;
    
}
.wishlist>li{
    border: 1px black solid;
    width: 500px;
    padding:12px 15px;
    margin: 12px 0;
    padding-top:8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .1 ease-in-out;
    border-radius: 50px;
    background:linear-gradient(to left, teal, cyan);
}

.wishlist>li:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
    outline: 3px solid lightblue;
    padding:12px 15px;
    margin: 10px;
    background: linear-gradient(to right,lightcyan,white 10%,lightblue);
    color:rgb(7, 212, 188);
}

.wishlist>li:hover span.wishlistIndex{
    font-weight: bold;
    color:black;
}
.wishlist>li:active{
    transform:scale(1);
    padding:6px 8px;
    outline: 1px solid lightblue;
    margin:5px 0 0 0;
    font-weight: normal;
}
